
<div class="header">
  <div class="header_logo">
    <a href="../index.html" class="logo_link">
      <img src="https://boar-dev.com/img/logo_hor.png" alt="Boar-Dev" class="logo_pic">
    </a>
  </div>
  <nav class="header_nav">
    <ul class="nav_list">
      <li class="nav_list_item"><a routerLink="/panel">Panel</a></li>
      <li class="nav_list_item"><a routerLink="/projects">Projects</a></li>

    </ul>
  </nav>
  <div class="header_status">
    <a href="#" class="status"><span class="man"></span></a>
  </div>
</div>
<router-outlet></router-outlet>
