
<div class="main">
    <div class="container">
        <div class="button-wrap">
            <button type="button" class="btn btn-danger">ДД</button>
        </div>
        <table class="table table-inverse">
            <thead>
            <tr>
                <th>№</th>
                <th>Time</th>
                <th>Project</th>
                <th>Status</th>
            </tr>
            </thead>
            <tbody>

            <tr>
                <th scope="row">1</th>
                <td>Time</td>
                <td>Some project</td>
                <td>Some status</td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>Time</td>
                <td>Some project</td>
                <td>Some status</td>
            </tr>
            <tr>
                <th scope="row">3</th>
                <td>Time</td>
                <td>Some project</td>
                <td>Some status</td>
            </tr>
            <tr>
                <th scope="row">4</th>
                <td>Time</td>
                <td>Some project</td>
                <td>Some status</td>
            </tr>
            <tr>
                <th scope="row">5</th>
                <td>Time</td>
                <td>Some project</td>
                <td>Some status</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

