/** {*/
    /*font-family: 'Roboto', sans-serif;*/
/*}*/

a {
    text-decoration: none;
    color: #fff;
}

a:hover {
    text-decoration: none;
    color: #fff;
}

.header {
    height: 3.5em;
    line-height: 3.5em;
    width: 100%;
    z-index: 100;
    display: flex;
    background: #1c1d26;
}

ul {
    list-style-type: none;
}

.header_logo {
    margin-left: 2.5em;
}

.logo_pic {
    width: 150px;
    vertical-align: baseline;
}

.header_nav {
    margin-right: 0;
    flex: 3;
}

.nav_list {
    padding: 0;
    margin: 0;

}

.nav_list_item {
    display: inline-block;
    list-style: none;
    margin-left: 4rem;

}


.nav_list_item_link {

    text-decoration: none;
}

.header_status {
    margin-top: 0.5em;
    margin-right: 4em;
}

.status {
    color: #ffffff;
}

span {
    display: block;
    margin-left: 2em;
}

.man {
    display: inline-block;
    position: relative;
    width: 0.7em; /* ширина элемента */
    height: 1.25em; /* высота элемента */
    padding-right: 1em;
}
.man::before,
.man::after {
    content: "";
    position: absolute;
    background: currentColor; /* цвет иконки как цвет текста */
}
.man::before {
    left: 25%;
    width: 50%;
    height: 50%;
    border-radius: 100%;
}
.man::after {
    left: 0;
    bottom: 0%;
    width: 100%;
    height: 40%;
    border-radius: 100% 100% 0% 0%;
}

.main {
    background: #1c1d26;
}

.button-wrap {
    width: 100%;
    display: flex;
}

.btn-danger{
    width: 6em;
    height: 3em;

    margin: 1em 9em 2em auto;
    cursor: pointer;
    border-radius: 5px;
    color: #fff;
    background: #871901;
    border-color: #871901;
}

.table {
    color: #fff;
    width: 55em;
    border-collapse: separate;
    text-align: center;
    margin: 0 auto;
    background-color: #212529;
    padding: 2em;
}

.table th {
    padding: 0.5em;
    font-weight: bold;
}

.table td {
    padding: 0.5em;
}

.footer {
    width: 100%;
    height: 13rem;
    background: #272833;
    margin-top: 2em;
}