<div class="main">
    <div class="container">
        <div class="wrap">
            <div class="main-left">
                <h3>Список проектов</h3>
                <ul class="project-list">
                    <li class="project-list_item"><a routerLink="/single-project">Project 1</a></li>
                    <li class="project-list_item"><a routerLink="/single-project">Project 2</a></li>
                    <li class="project-list_item"><a routerLink="/single-project">Project 3</a></li>
                    <li class="project-list_item"><a routerLink="/single-project">Project 4</a></li>
                    <li class="project-list_item"><a routerLink="/single-project">Project 5</a></li>
                    <li class="project-list_item"><a routerLink="/single-project">Project 6</a></li>
                    <li class="project-list_item"><a routerLink="/single-project">Project 7</a></li>
                    <li class="project-list_item"><a routerLink="/single-project">Project 8</a></li>
                    <li class="project-list_item"><a routerLink="/single-project">Project 9</a></li>
                    <li class="project-list_item"><a routerLink="/single-project">Project 10</a></li>
                </ul>
                <router-outlet></router-outlet>
            </div>
            <div class="main-right">
                <h3>Задания</h3>
                <ul class="tasks-list">
                    <li class="tasks-list_item"><a href="#">Task 1</a></li>
                    <li class="tasks-list_item"><a href="#">Task 2</a></li>
                    <li class="tasks-list_item"><a href="#">Task 3</a></li>
                </ul>
                <div class="people">
                    <h3>Люди</h3>
                    <ul class="people-list">
                        <li class="people-list_item">mr. First</li>
                        <li class="people-list_item">mr. Second</li>
                        <li class="people-list_item">mr. Third</li>
                    </ul>
                </div>
                <a routerLink="/single-project"><button type="button" class="btn btn-info" >Перейти</button></a>
            </div>
        </div>
    </div>
</div>
